<!-- <table class="table table-hover table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ovr</th>
      <th scope="col">Last</th>
      <th scope="col">First</th>
      <th scope="col">Position</th>
      <th scope="col">School</th>
      <th scope="col">Year</th>
      <th scope="col">Pos Rank</th>
      <th scope="col">Ht</th>
      <th scope="col">Wt</th>
      <th scope="col">DRAFT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prospect of availableProspects">
            <th scope="row">{{prospect.ovr_rank}}</th>
            <td>{{prospect.last_name}}</td>
            <td>{{prospect.first_name}}</td>
            <td>{{prospect.position}}</td>
            <td>{{prospect.school}}</td>
            <td>{{prospect.year}}</td>
            <td>{{prospect.pos_rank}}</td>
            <td>{{prospect.height}}</td>
            <td>{{prospect.weight}}</td>
            <td><button class='btn btn-primary'>YEET</button></td>
    </tr>
  </tbody>
  </table> -->
  <div class="table-container">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter players">
        </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Ovr Rank-->
    <ng-container matColumnDef="ovr_rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ovr </th>
      <td mat-cell *matCellDef="let element"> {{element.ovr_rank}} </td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
  
    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pos </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Pos Rank Column -->
    <ng-container matColumnDef="pos_rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> P Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.pos_rank}} </td>
    </ng-container>

    <!-- School Column -->
    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
      <td mat-cell *matCellDef="let element"> {{element.school}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Yr </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

     <!-- height Column -->
     <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ht </th>
      <td mat-cell *matCellDef="let element"> {{element.height}} </td>
    </ng-container>

     <!-- weight Column -->
     <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wt </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getProspect(row)"></tr>
  </table>
  <mat-paginator [pageSize] ="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
  